// "root" variables (never use these directly)
$grey-primary: #dedada;
$white-primary: #ffffff;
$black-primary: #000000;

// "proxy" variables
$table-border: $grey-primary;
$table-row-border: $grey-primary;
$table-row-background: $white-primary;
$table-pagination-background: $grey-primary;
$table-pagination-border: $black-primary