@import 'styles/colors';

tr {
  background-color: $table-row-background;
  border: 1px solid $table-row-border;
  padding: 0.35em;
}

td {
  padding: 0.625em;
  text-align: center;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  button:nth-child(1) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 800px) {
  tr {
    border-bottom: 3px solid $table-row-border;
    display: block;
    margin-bottom: 0.625em;
  }

  td {
    border-bottom: 1px solid $table-row-border;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  td:last-child {
    border-bottom: 0;
  }
}
